body {
margin:0;
}
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #660e0e;
  position: fixed;
  top: 0;
  width: 100%;
}
    
li {
  float: left;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
    
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
    
li a:hover{
  background-color: #0d305e;
}
a{
  text-decoration: none;
  color: black;
  font-family:Verdana, Geneva, sans-serif;
}

a:link{
  color: black;
}
a:visited{
  color: #000;
}
a:hover{
  color: #00f00f;
  text-decoration: underline;
}
a:active{
  color: red;
  text-decoration: underline;
}
h1{
  font-family:Verdana, Geneva, sans-serif;
}