.ter{
    font-family:Verdana, Geneva, sans-serif;
    margin-top: 10px;
    position: sticky;
    top: 0;
    font-size: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-width: 1px;
    background-color: white;
}